# AWS target environment (optional for environment-agnostic stacks)
AWS_ACCOUNT_ID=123456789
AWS_REGION=us-east-1

# CDK metadata
CDK_STACK_NAME=Github-cdk
ECS_CLUSTER_NAME=github-ecs

# Network sizing
VPC_MAX_AZS=2
VPC_NAT_GATEWAYS=0

# ECS capacity (EC2-backed cluster)
ECS_INSTANCE_TYPE=t3.small
ECS_DESIRED_CAPACITY=1
ECS_MIN_CAPACITY=1
ECS_MAX_CAPACITY=1

# Keycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_REPLICAS=1

# PostgreSQL
KEYCLOAK_DB_NAME=githubdb
DB_PASSWORD=change-me
RDS_INSTANCE_TYPE=t4g.micro
RDS_ALLOCATED_STORAGE_GB=20
RDS_PUBLICLY_ACCESSIBLE=true
RDS_ENGINE_VERSION=17.2
RDS_MULTI_AZ=false

# users-ms application properties
SERVER_PORT=8081
SPRING_APPLICATION_NAME=users-ms

USUARIOS_DB_URL=jdbc:postgresql://github-cdk-databaseinstanceaa8a5fde-dxfs78eo1x4l.cwj6aay4gbts.us-east-1.rds.amazonaws.com:5432/ms-users
USUARIOS_DB_USERNAME=postgres
USUARIOS_DB_PASSWORD=githubPass123

KEYCLOAK_ISSUER_URI=http://Github-Keycl-2TPEabeWPJVh-714350772.us-east-1.elb.amazonaws.com/realms/Github
KEYCLOAK_JWK_SET_URI=http://github-keycl-2tpeabewpjvh-714350772.us-east-1.elb.amazonaws.com/realms/Github/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=ms-users
KEYCLOAK_CLIENT_SECRET=mw2wIpuMpdOs8vWxGiDXZYWIuwy2x5Ed
KEYCLOAK_AUTH_GRANT_TYPE=client_credentials
KEYCLOAK_SCOPE=openid

KEYCLOAK_SERVER_URL=http://Github-Keycl-2TPEabeWPJVh-714350772.us-east-1.elb.amazonaws.com
KEYCLOAK_REALM=Github
KEYCLOAK_ADMIN_CLIENT=admin-client-java
KEYCLOAK_ADMIN_CLIENT_SECRET=WWjvfPksCdzU5iu4rqzEUQNh45zyLU6b

